@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
*{
    font-family: 'K2D', sans-serif;
}

.imgprofile {
    border-radius: 50%;
}

.profile {
    text-align: center;
    font-size: 16px;

}

.name {
    font-family: "Kaushan Script", cursive;
    padding: 20px;
    font-size: 50px;
}

body{
    display: grid;
    place-items: center;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}