
.card-box {
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 30px;
  }
  
  .title2 {
    color: grey;
    font-size: 18px;
  }

  .title1 {
    color: black;
    font-size: 35px;
    text-align: center;
  }
  
  button {
    border: none;
    padding: 8px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  
  .ic1 {
    font-size: 22px;
    color: #166fe5;
  }

  .ic2 {
    font-size: 22px;
    color: rgb(243, 59, 234);
  }
  
  button:hover, a:hover {
    opacity: 0.8;
  }

  .pic {
    border-radius: 50%;
  }

  body{
    font-family: 'K2D', sans-serif;
  }